* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 0.5px solid #f7f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #bc6c25;
    margin-bottom: 2rem;
}

h4{
    margin-bottom: 0.5rem;
}

input{
    height: 40px;
    border: 1px solid #dda15e;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 10px;
}

.submitbtn{
    height: 50px;
    width: 100px;
    background-color: #bc6c25;
    border: 1px solid #bc6c25;
    border-radius: 5px;
    color:#fff;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.output{
    padding: 24px;
}
